@model StockDataLayer.Models.User
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorizaton</title>
    <link rel="stylesheet" href="~/css/auth.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="top-left">
    <a class='bx bx-arrow-back' asp-controller="Authorization" asp-action="SignIn"></a>
</div>

<form method="post" asp-action="SignUp">
    <div class="wrapper">
        <h1>Sign Up</h1>
        <div class="input-box">
            <input name="username" type="text" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input name="password" type="password" placeholder="Password" required>
        </div>
        <div class="input-box">
            <input name="confirm" type="password" placeholder="Confirm password" required>
        </div>
        <div class="input-box">
            <input name="email" type="email" placeholder="Email" required>
        </div>
        
        <button type="submit" class="btn">Sign up</button>
    </div>
</form>

</html>