@page
@model MarketplaceStock.Pages.ErrorModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>Authorizaton error</h1>
        <div class="register-link">
            <p>Go back to <a href="/Authorization">authorization</a> page</p>
        </div>
    </div>
</body>
</html>