@using StockDataLayer.Models;
@model IEnumerable<Product>;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="~/css/basket.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="basket">
                <ul>
                    <li>Item1</li>
                    <li>Item1</li>
                    <li>Item1</li>
                    <li>Item1</li>
                </ul>
            </div>
            <form class="button-container" asp-controller="User" asp-action="">
                <button class="purchase-btn" type="submit">Purchase</button>
            </form>
        </div>
    </body>
</html>
