@using StockDataLayer.Models;
@model IEnumerable<Product>;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/store.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <a href="Basket"><i class='bx bx-basket'></i></a>
    <div class="grid">
        @foreach (var item in Model)
        {
            <div class="product-card">
                <img src="@item.Image" alt="">
                <h4>@item.Name</h4>
                <div class="product-details">
                    <span class="price">$@item.Price</span>
                    <form method="post" asp-controller="User" asp-action="AddItem">
                        <button name="addBtn">
                            <input name="id" type="hidden" value="@item.Id" />
                            <i class='bx bx-plus'></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>

