body {
    background: #252525;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

#main span {
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.table-container {
    margin: 0 auto;
    width: 50%;
}

.table-text {
    color: #fff;
    border-collapse: separate;
    border-spacing: 10px;
}

#popup-window {
  position: fixed;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#close-btn {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

#save-btn {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}