.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar-text {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

